<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advanced Validation Example</title>
    <style>
    
    </style>

<body>
  <h1>Enter a Valid(Any) Name!</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/process', method='post'>
    <label for="email">Email</label>
    <input id="email" name="email" type="text">
    <button>Submit</button>
  </form>
</body>
</html>
