<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
    <style>
           
            h1,h2 {
                color: maroon;
                margin-left: 40px;
                /* text-align: center; */
            } 
            .box{
                background-color: lightblue;
                border:5px solid black;
                height:200px;
                width:200px;
                margin:30px;
                display: inline-block;
                vertical-align: top;

            }
            </style>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Welcome</h2>
    {% for i in range(0,num): %}
        {% if color: %}
            <div class="box" style="background-color:{{color}}"></div>
        {% else %}
            <div class="box"></div>
        {% endif %}
    {% endfor %}
    

    
    

   
   
    
</body>
</html>