<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title>Order</title>
    <style>
       .color{
            background-color:#dee2e6;
            padding:30px;
            margin:30px;
            text-align: center;
        }
        *{
            margin: auto;
            text-align: center; 
        }
        .width{
            width:200px;
        }
           

    </style>
</head>
<body>
    <div class="color"> 
        <h2>Thanks for your order!!</h2>
        <h6>We ordered {{items}} items for you and charged your student account on {{day}} </h5>
    </div>
    
        <form action='/'>
            <div class="container">  
                <div class="row">
                    <div class="col-sm">        
                        
                        <h5>You've ordered</h5>
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th>Fruit Name</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>Strawbeery</td>
                                <td>{{strawbeery}}</td>
                            </tr>
                            <tr>
                                <td>Rasbeery</td>
                                <td>{{rasbeery}}</td>    
                            </tr>
                            <tr>
                                <td>Apple</td>
                                <td>{{apple}}</td>
                            </tr>
                        
                        </table>
                    </div>    
               
                    <div class="col-sm">
                        <h5>Your Information</h5>
                        <label class="width">Name:</label>{{name}}
                        <label class="width">Your Student ID:</label>{{idd}}
                    </div> 
                </div> 
            </div>
        </form>

</body>
</html>